@mixin hover-box($color){
  outline-offset:-2px;
  outline:1px solid fade-out($color, 1);
  transition:outline .1s, outline-offset .1s;
  &:hover{
    cursor:pointer;
    outline-offset:5px;
    outline:1px solid $color;
    text-decoration:none;
  }
}