# Deploy key for Travis
deploy/deploy_key

# Local env vars
.env

# Flickr data
data/

# IDEA files
.idea

# Node deps
node_modules

# Final built side
out

# Annoying OS stuff
.DS_Store
