nav.navbar.navbar-light
    a.navbar-brand(href="/") William Goodall
    button.navbar-toggler.hidden-sm-up.pull-xs-right(type="button" data-toggle="collapse" data-target="#navCollapse")
        i.fa.fa-bars
    ul#navCollapse.collapse.navbar-toggleable-xs.m-b-0
        div.nav.navbar-nav.pull-xs-right
            each navName in ["Projects", "Photography", "Overview"]
                -
                    var isActive = navName.toLowerCase() == title.toLowerCase()
                        || (section && navName.toLowerCase() == section.toLowerCase());
                li.nav-item(class=isActive ? "active" : undefined)
                    a.nav-link(href="/" + navName.toLowerCase())= navName
