doctype html
head
    title= title || "William Goodall"

    //Include styles
    link(rel="stylesheet", href="/css/main.css")

body
    .container-fluid
        .main!=contents
    block foot
