doctype html

head
	title= title + " | William Goodall"
	meta(name="viewport", content="width=device-width, initial-scale=1")
	meta(name="google-site-verification" content="LnmE2jl2ZbHaJqUUMXtcAc4gXfNoRqSqhbWe-I8ziEE")

	block styles
		link(rel="stylesheet", href="/css/main.css")
		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Oswald:300|Roboto+Slab:400,700")

body
	block body
		!= contents

	// Hotjar analytics
	script
		| (function(h,o,t,j,a,r){
		| 	h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
		| 	h._hjSettings={hjid:1129384,hjsv:6};
		| 	a=o.getElementsByTagName('head')[0];
		| 	r=o.createElement('script');r.async=1;
		| 	r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
		| 	a.appendChild(r);
		| })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');

	block scripts
