doctype html
include _head

body
    .card.card-block.card-primary.card-inverse.center-v(style="margin:0 auto; max-width:300px;")
        h4.card-title Under Construction
        p.card-text Come back later, maybe.
        a.card-link.go-back(href="#")
            i.fa.fa-arrow-left.m-r-1
            span Back

    include _scripts
    script.
        $(document).ready(function() {
            $(".go-back").click(function(){window.history.back()});
        });