extends base

append styles
	link(rel="stylesheet", href="/css/slant.css")

block body
	.slant-body: .container
		.navbar-white
			include _navbar

		h1.slant-heading
			block title
		div
			block header
	
	if(slantUnpad)
		.slant-edge.slant-unpad
	else
		.slant-edge
	
	.container
		block contents
			div!= contents

