@include media-breakpoint-down(xs) {
  .navbar-toggleable-xs#navCollapse{
    z-index:10000;
    position:absolute;
    top:5px;
    left:auto;
    right:60px;
    border-radius:5px;
    box-shadow:0 0 10px fade-out(black, .7);
    padding:10px;
    text-align:right;
    //float:none;
    background-color:white;
    list-style-type:disc;

    li{float:none;}
  }
}
