@import "_variables.scss";
@import "mixins/_breakpoints";

.cover-img{
  background: url("/img/cover-sm.jpg") no-repeat center center fixed;
  background-color: #2c2c2c;
  background-size:cover;
  height:100%;
  width:100%;
  margin:0;
  z-index:-10;
  object-fit:cover;
  position:absolute;
}

.links-container{
  height:150px;
  align-self:center;

  display: flex;
  flex-direction: column;
  justify-content: space-around;

  @include media-breakpoint-down(sm){
    margin-left:20px;
  }
}

.link{
  flex: 0 1 auto;
  align-self: auto;
}

.link a{
  font-family: "Oswald", Arial, sans-serif;
  text-transform:uppercase;
  letter-spacing:3px;
  color:white;

  outline-offset:-2px;
  outline:1px solid fade-out(white, 1);
  transition:outline .1s, outline-offset .1s;
  &:hover{
    cursor:pointer;
    outline-offset:5px;
    outline:1px solid white;
    text-decoration:none;
  }
}

.dim{
  background-color:fade-out(black, 0.4);
  height:100%;
  width:100%;
  color:white;
}

.name{
  font-size:80px;
  font-family:"Roboto Slab", Arial, sans-serif;

  @include media-breakpoint-up(sm){
    text-align:right;
  }

  font-weight:600;
}
