@import "_variables.scss";
@import "mixins/_breakpoints";

body{
  background: url("/img/cover.jpg") no-repeat center center fixed;
  //background-position: center center;
  background-size:cover;
  color:white;
  height:100%;
  margin:0;
}

.items-container{
  margin:0 auto;
}

.links-container{
  height:150px;
  align-self:center;

  display: flex;
  flex-direction: column;
  //flex-wrap: nowrap;
  justify-content: space-around;
  //align-content: stretch;
  //align-items: flex-start;
}

.link{
  flex: 0 1 auto;
  align-self: auto;
  //margin-top:30px;
}

.links-container a {
  font-family: "Oswald", Arial, sans-serif;
  text-transform:uppercase;
  letter-spacing:3px;
  color:white;
}

.band{
  background-color:fade-out(black, 0.4);
}

.name{
  font-size:80px;
  font-family:"Roboto Slab", Arial, sans-serif;

  @include media-breakpoint-up(sm){
    text-align:right;
  }

  font-weight:bold;
}
