@import '_vars';

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

:root {
  --color-primary: #4999d3;
}

.container {
  max-width: 700px;
  margin: 0 auto;
}
