@import "_variables";

$enable-flex: true;

@import "bootstrap";

@import "_navbar";
@import "_utility";

html, body {
  margin: 0;
  height: 100%;
}

.container-fluid{
  max-width:900px;
}

.navbar{
  border-radius:0;
  border-bottom: 1px solid black;
}



