.gallery {
  position: relative;
  margin-top: 10px;
  margin-bottom: 50px;
}

.picture {
  opacity: 0;
  display: block;

  width: 100%;
  @media screen and(min-width:400px) {
    width: calc(50% - 5px);
  }

  height: auto;
  object-fit: contain;

  border-radius: 4px;
}

.picture[data-packed] {
  opacity: 1;
  cursor: zoom-in;
}

//Lightbox styles
.lightbox-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.8);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.lightbox-exit {
  display: block;
  text-align: right;
  cursor: pointer;

  font-size: 30px;
  position: absolute;
  top: 2px;
  right: 20px;

  transition: opacity 0.2s, font-size 0.2s;
  opacity: 0.8;
  &:hover {
    opacity: 1;
    font-size: 35px;
  }
}

.lightbox-photo {
  max-width: 90%;
  max-height: 90%;
  z-index: 10;
  box-shadow: 0 0 30px black;

  display: block;
  margin-left: auto;
  margin-right: auto;
}
