@import "_vars";
@import 'mixins/_breakpoints';

.gallery-container {
  margin-top: 30px;
  height: 600px;
}

.picture{
  margin:5px;

  transition: transform .2s;
  &:hover {
    transform: scale(1.1, 1.1);
    z-index:1000;
  }
}