.projects-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0 -10px;
}

.project-card {
  color: var(--color-dark);
  text-decoration: none;
  background-color: white;

  border-radius: 5px;
  box-shadow: 0 3px 15px rgba(0, 0, 0, 0.1);

  margin: 10px;
  @media screen and (min-width: 500px) {
    width: calc(33.3% - 20px;);
  }

  @media screen and (max-width: 550px) {
    width: calc(50% - 20px);
    margin-bottom: 5px;
  }

  @media screen and (max-width: 420px) {
    width: 100%;
  }

  transition: 0.2s;
  &:hover {
    transform: translateY(-3px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  }
  cursor: pointer;
}

.github-link {
  display: block;
  margin-top: 20px;
}

.project-card > * {
  margin: 8px;
}

.project-card-title {
  display: block;
  color: var(--color-dark);
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 20px;
}
