.project-card {
  flex-grow: 1;
  flex-shrink: 0;
  max-width: 100%;
  margin: 10px;
  border-radius: 2px;
  background-color: white;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

  @media screen and (max-width: 400px) {
    margin: 5px;
    flex-shrink: 0;
  }

  transition: 0.2s;
  border: 1px solid transparent;
  &:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--color-shade);
  }
  cursor: pointer;
}

.project-card > * {
  margin: 8px;
}

.project-card:last-child {
  flex-grow: 0;
}

.project-card-title {
  display: block;
  color: var(--color-dark);
  text-decoration: none;
  margin-bottom: 5px;
  font-size: 20px;
}

.projects-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0 -10px;
}
