.slant-edge {
  margin-top: -1px;
  position: relative;

  z-index: -2;

  @media screen and (max-width: 400px) {
    height: 10vw;
    margin-bottom: -10vw;
  }

  @media screen and (min-width: 400px) {
    height: 100px;
    margin-bottom: -100px;
  }

  background-color: var(--color-primary);
  clip-path: polygon(0 0, 0 100%, 100% 0);
}

.slant-body {
  width: 100%;
  padding: 10px 0;
  background-color: var(--color-primary);
  color: white;
  font-family: 'Roboto Slab', 'Helvetica Neue', 'Helvetical', Arial, sans-serif;
}
