.slant-edge {
  margin-top: -1px;
  position: relative;

  z-index: -2;

  background-color: var(--color-primary);
  clip-path: polygon(0 0, 0 100%, 100% 0);
}

@media screen and (max-width: 400px) {
  .slant-edge {
    height: 10vw;
  }
  .slant-edge.slant-unpad {
    margin-bottom: calc(-1 * (10vw + 30px));
  }
}

@media screen and (min-width: 400px) {
  .slant-edge {
    height: 50px;
  }

  .slant-edge.slant-unpad {
    margin-bottom: -80px;
  }
}

.slant-heading {
  margin-bottom: 20px;
}

.slant-body {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 40px;
  background-color: var(--color-primary);
  color: white;
  font-family: 'Roboto Slab', 'Helvetica Neue', 'Helvetical', Arial, sans-serif;
}

.slant-body a {
  color: white;
}
