html {
  font-family: "Source Serif Pro";
  box-sizing: border-box;

  --color-primary: black;
  --content-width: 50rem;
}

body {
  margin: 0;
  padding: 0;

  color: #222;
}

* {
  box-sizing: inherit;
}

a {
  font-weight: bold;
  color: inherit;
}

a:hover {
  color: white;
  background-color: var(--color-primary);
  outline: 0.3rem solid var(--color-primary);
  text-decoration-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display";
  font-weight: 100;

  margin-top: 2em;
  margin-bottom: 1em;

  color: var(--color-primary);
}
