html {
  font-family: "Source Serif Pro";
  box-sizing: border-box;

  --color-primary: black;
  --color-shade: rgba(0, 0, 0, 0.08);
  --content-width: 50rem;
}

body {
  margin: 0;
  padding: 0;

  color: #222;
}

* {
  box-sizing: inherit;
}

a {
  color: var(--color-primary);
}

a:hover {
  color: white;
  background-color: var(--color-primary);
  outline: 0.3rem solid var(--color-primary);
}

pre {
  background-color: var(--color-shade);
  padding: 1em;
  margin: 0.5em -1em;
}

blockquote {
  padding: 0.5em 1em;
  margin: 0;
  border-left: 1em solid var(--color-shade);
}

iframe {
  border: 2px solid var(--color-shade);
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
}

blockquote > p {
  margin: 0;
}

pre code {
  background-color: unset;
  padding: unset;
}

code {
  background-color: var(--color-shade);
  padding: 0.2em;
}

h1,
h2 {
  font-family: "Playfair Display";
  font-weight: 100;
}

h1 {
  font-size: 3rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.25em;
  font-weight: normal;

  color: var(--color-primary);
}
