html {
  font-family: "Source Serif Pro";
  box-sizing: border-box;

  --color-primary: black;
  --color-shade: rgba(0, 0, 0, 0.05);
  --content-width: 50rem;
}

body {
  margin: 0;
  padding: 0;

  color: #222;
}

* {
  box-sizing: inherit;
}

a {
  color: var(--color-primary);
}

a:hover {
  color: white;
  background-color: var(--color-primary);
  outline: 0.3rem solid var(--color-primary);
}

h1,
h2 {
  font-family: "Playfair Display";
  font-weight: 100;
}

h1 {
  font-size: 1rem;
}

h3,
h4,
h5,
h6 {
  font-variant: small-caps;
  letter-spacing: 1px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1em;
  margin-bottom: 0.25em;
  font-weight: normal;

  color: var(--color-primary);
}
