---
title: Home
layout: base.jade
styles:
    - /css/cover.css
---

.card.card-block.card-primary.main-card.card-inverse
    h4.card-title William Goodall
    p.card-text Welcome, etc, stuff and things.
    a.card-link(href="/projects") Projects
    a.card-link(href="/Photography") Photography
    a.card-link(href="/overview") Overview
