---
title: Home
---

extends ../layouts/base

append styles
	link(rel="stylesheet", href="/css/cover.css")

block body
	video.cover-vid(src="/res/cover.mp4" autoplay loop muted)

	.cover: .center-container
		.name-container
			.name William
			.name Goodall
		.links-container
			a(href="/projects") Projects
			a(href="/photography") Photos



