---
title: Home
layout: base.jade
styles:
    - /css/cover.css
---

.band.center-v
    .items-container.row
        .name-container.col-sm-6
            h4.name William
            h4.name Goodall
        .links-container.col-sm-6
            .link
                i.fa.fa-chevron-right.m-r-1
                a(href="Projects") Projects
            .link
                i.fa.fa-chevron-right.m-r-1
                a(href="Photography") Photography
            .link
                i.fa.fa-chevron-right.m-r-1
                a(href="Overview") Overview
