---
title: Home
layout: base.jade
styles:
    - /css/cover.css
---

.center-all.main-card
    h4.name William
    h4.name Goodall
    //.card-text Stuff and things.
    .links-container
        a(href="Projects") Projects
        a(href="Photography") Photography
        a(href="Overview") Overview
