---
title: Home
layout: base.jade
styles:
    - /css/cover.css
---

img.cover-img(src="/img/cover.jpg")

.dim
    .row.center-v
        .name-container.col-sm-7
            h4.name William
            h4.name Goodall
        .links-container.col-sm-5
            .link
                i.fa.fa-chevron-right.m-r-1
                a(href="projects") Projects
            .link
                i.fa.fa-chevron-right.m-r-1
                a(href="photography") Photography
            .link
                i.fa.fa-chevron-right.m-r-1
                a(href="overview") Overview

