---
title: Photography
layout: page.jade
construction: false
styles:
- "/css/photography.css"
scripts:
- "/js/photography.js"
flickr:
    set_id: "72157667632529635"
    extras: "url_o, description"
---
.gallery-container.row
    each photo in flickr_photos.photo
        .col-md-6
            img.picture.img-fluid.col-md-6(src=photo.url_o)
