---
title: Projects
section: Projects
indexDir: "projects/"
---

extends ../layouts/page

append styles
	link(rel="stylesheet", href="/css/project-index.css")
	link(rel="stylesheet", href="/css/slant.css")

block body
	.slant-body: .container
		.navbar-white
			include ../layouts/_navbar
		h1.slant-heading Projects
		p.
			This is some copy about projects.
	.slant-edge

	.container
		.projects-container
			each project in index_data
				.project-card
					a.project-card-title(href= "/" + project.url)= project.github_data.name
					div= project.github_data.description

		a.text-muted(href="https://github.com/wgoodall01")
			span="More stuff on my GitHub  "
