---
title: Projects
section: Projects
indexDir: "projects/"
slantUnpad: true
---

extends ../layouts/page

append styles
	link(rel="stylesheet", href="/css/project-index.css")

block title
	span Projects

block header
	p I spend a lot of my spare time working on side projects. I find that the best way to learn new things is to try to implement them, so here are some ideas I have kicking around. 
	p: a(href="https://github.com/wgoodall01/") My GitHub

block contents
	.projects-container
		each project in index_data
			a.project-card(href= "/" + project.url)
				.project-card-title= project.github_data.name
				p= project.github_data.description
