---
title: Projects
section: Projects
layout: page.jade
indexDir: "projects/"
styles:
- "/css/project-index.css"
---

div.m-t-1
each project in index_data
    a(href= "/" + project.url).m-y-2
        .h3.block-xs= project.github_data.name
    .text-muted= project.github_data.description
    hr

a.text-muted(href="https://github.com/wgoodall01?tab=repositories")
        span="More stuff on my GitHub  "
        i.fa.fa-external-link.external-link
