---
title: Projects
section: Projects
indexDir: "projects/"
---

extends ../layouts/page

append styles
	link(rel="stylesheet", href="/css/project-index.css")

block title
	span Projects

block header
	span This is some copy about projects.

block contents
	.projects-container
		each project in index_data
			a.project-card(href= "/" + project.url)
				.project-card-title= project.github_data.name
				p= project.github_data.description

	a.github-link(href="https://github.com/wgoodall01")
		span="More stuff on my GitHub"
